*{
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background-color: #130303;
    overflow: auto;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.name{
background: -webkit-linear-gradient(#af69ef,#9867c5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
    cursor: not-allowed;
}
/* header part */
header{
    display :flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #0b0c0d;
      z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 48%;
    list-style: none;
}

.nav li a{
    transition: 0.7s;
    text-decoration: none;
    font-size: 1.08rem;
}

.nav li a:hover{
    color: #cea2fd;
} 

.nav li:after {
    content: "";
    position: relative;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.5s ease-in-out;
    bottom: -20%;
  }
  .nav li:hover::after {
    width: 100%;
    height: 1.1px;
    background-color: #cea2fd;
  }

  .side-menu{
    display: flex;
    flex-wrap: wrap;
    width:  40px;
    display: none;
    cursor: pointer;
  }

  .side-menu span{
    color: white;
    line-height: 6px;
  }

  .top-cross{
    transform: rotate(45deg) translateX(4px);
  }

  .bottom-cross{
    transform: rotate(-45deg) translateX(4px);
  }

  .head-dropbox{
    height: 20rem;
    width: 15rem;
    position: absolute;
    top: 80px;
    background-color: rgba(179, 184, 230, 0.34);
    right: 40px;
    border-radius: 10px;
    display: none;
  }

  .dropbox-nav li{
    list-style: none;
    margin: 5px;
    padding: 14px;
  }

  .dropbox-nav li:hover{
    background-color: #5376c6;
    border-radius: 5px;
  }

  .dropbox-nav li:hover a{
    color: #000;
    font-weight: 600;
  }

  .dropbox-nav li a{
    text-decoration: none;
    transition: 0.3s;
  }


/* first page */
.intro{
    width: 90%;
    height: 32rem;
   background-color: linear-gradient(0deg,blue,black); 
    margin: 2rem auto;
    background-size: cover;
    padding: 2rem;
}    
/* .intro-line{
    position: relative;
    padding: 1.25rem;
    font-size: 2.25rem;
    text-align: center;
    background: linear-gradient(blue,aqua,white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .intro-line::after{
    content: "";
    position: relative;
    bottom: -20px;
    height: 4px;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    display: block;
} */

.intro-main{
    position: absolute;
    top: 13rem;
    font-size: 3.5rem;
    letter-spacing: 3px;
    line-height: 3.5rem;
    
}

.intro-main span{
    font-size: 2rem;
}

.intro-name{
    color: #cea2fd;
    font-size: 3.5rem;
    top: 12.7rem;
    left: 8rem;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.intro-type{
    color: #cea2fd;
    font-size: 2rem;
    top: 12rem;
    position: relative;
}

.intro-img{
    position: absolute;
    left: -20rem;
    height: 20rem;
    width: 15rem;
}

.intro-link{
    color: white;
    background-color: #000;
    /* width: 120px; */
    /* height: 40px; */
    padding: 15px 30px;
    position: relative;
    top: 16.5rem;
    left: -1rem;
    margin: 17px;
    border-radius: 10px;
    border: 2px solid #cea2fd;
    outline: none;
    font-weight: 700;
    transition: 1s;
    cursor: pointer;
  }

  #github-link{
    background-color: #cea2fd;
    color: black;
  }

  .intro-link span i{
    margin-left: 2px;
    color: white;
    transition:all 1s;
  }

  .intro-link:hover span i{
    color: black;
  }

  .intro-link:hover{
    background-color: #cea2fd;
    color: black;
  }

/* about section */
.about{
    height: 27rem;
    width: 90%;
    margin: 2rem 0;
    padding: 2rem;
    background-color: #0b0c0d;
    
}

.about-main{
    width: 65%;
    text-align: start;
    padding: 2.5rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    color: gray;
    position:absolute;
    left: 25rem;
}

.about-head{
    text-align: center;
    position: relative;
    padding: 1.25rem;
    /* border-bottom: 4px solid white; */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    background: linear-gradient(#af69ef,#9867c5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 3px;
    transition: all 0.2s;
    border-bottom: #000;

}

.about-head:hover{
    border-bottom: 1.5px solid #e39ff6;
    cursor: pointer;

}

/* education */
.education{
    height: 55rem;
    width: 90%;
    background: none;
    margin: 2rem auto;
    padding: 2rem;
/*     position: absolute; */
}

.section-bar{
    height: 50rem;
    width: 4px;
    background-color: #ccccff;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 34rem;
    top: 20px;
    border-radius: 10px;
}

.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 51rem;
}

.section-icon{
    height: 4rem;
    width:   4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #cea2fd;
    position: relative;
    bottom: 50rem;
    left: 32rem;
    transition: 0.5s;
    cursor: pointer;
}

.section-icon i{
    font-size: 20px;
}

.section-icon:hover{
    background-color: #cea2fd;
    box-shadow: 2px 2px 15px #563d7c,-2px -2px 15px #ccccff;
}

.section-icon:hover i{
    color: black;
}

.section-block{
    /* height: 10rem; */
    width: 25rem;
    border: 1.5px double white;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin: 20px;
    right: 2rem;
    position: relative;
    bottom: 100rem;
    line-height: 2rem;
    letter-spacing: 0.15em;
    font-size: 0.8rem;
    text-align: center;
}

.section-block:hover{
    box-shadow: 2px 2px 10px #e6e6fa, -2px -2px 10px #cea2fd;
    border: none;
}

.sec-position{
    position: relative;
   left: 41rem;
}

/* project section */
.project{
    background: none;
    height: 30rem;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem ;
    background-color: #0b0c0d;
}

.p-content{
    height: 10rem;
    width: 45%;
    border-bottom: 2px solid white;
    padding-bottom: 1.2rem;
}

.p-title{
    font-weight: bold;
    letter-spacing: 1.3px;
    font-size: large;
    margin-bottom: 1.2rem;
    font-family: "Mako", sans-serif;
    cursor: pointer;
}

.p-title a{
    text-decoration: none;
}

.p-title a:hover{
    text-decoration: underline;
}

.p-block{
    display: flex;
    justify-content: space-between;
    margin-top: 2.3rem;
}

.p-describe{
    letter-spacing: 1px;
    line-height: 1.4rem;
}

.op-info{
    letter-spacing: 1px;
    line-height: 1.4rem;   
}

.skills{
    background: none;
    height: 25rem;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
}


.skill-coarse{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-left: 3rem
}

.skill-coarse li{
    margin:1rem;
}

.skill-icon{
    height: 2.2rem;
    width: 2.2rem;
    font-size: 2.2rem;
    padding: 10px;
    border-radius: 20%;
    transition: 0.8s;
    cursor: pointer;
}

.s1:hover{
    color: #f06529;
    transform: scale(1.2)translateY(-30px);
}

.s2:hover{
    color: #2965f1;
    transform: scale(1.2)translateY(-30px);
}

.s3:hover{
    color: indigo;
    transform: scale(1.2)translateY(-30px);
}

.s4:hover{
    color: #f0db4f;
    transform: scale(1.2)translateY(-30px);
}

.s5:hover{
    color: #f1502f;
    transform: scale(1.2)translateY(-30px);
}

.s6:hover{
    color: #9cdaf1;
    transform: scale(1.2)translateY(-30px);
}

.s7:hover{
    color: #3c873a;
    transform: scale(1.2)translateY(-30px);
}

.s8:hover{
    color: yellow;
    transform: scale(1.2)translateY(-30px);
}

.s9:hover{
    color: #36dff8;
    transform: scale(1.2)translateY(-30px);
}

.contact{
    position: relative;
    bottom: 6rem;
    line-height: 2rem;
    height: 30rem;
    margin: 2rem;
    background-color: #0b0c0d;
}

.contact-details{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 0;
    justify-content: space-between;
}

.contact-call{
    width: 11rem;
    height: 4rem;
    margin: 1rem;
    display: flex ;
    justify-content: space-between;
    align-items: baseline;
}
.contact-call i{
    color: #624cab;
    font-size: 1.3rem;
}

.contact-call p{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Mako", sans-serif;
}

.contact-call a{
    text-decoration: none;
    color: rgb(45, 57, 221);
    font-size: 1.1rem;
    cursor: pointer;
}

#contact-mail{
    width: 17.5rem;
}

#contact-address{
    width: 14rem;
}

.form-name{
    height: 2.8rem;
    width: 20rem;
    margin: 1.3rem;
    padding-left: 15px;
    background-color: #1f1d1d;
    border: none;
    border-radius: 5px;
    color: white;
}

.form-name::placeholder , .form-query::placeholder{
    color: rgb(142, 141, 141);
    font-size: 1.08rem;
    letter-spacing: 0.8px;
    font-family: "Mako", sans-serif;
}

.form-name:focus, .form-query:focus{
    outline: none;
    font-size: large;
}

.form-query{
    display: block;
    width: 90%;
    margin: 1.3rem;
    padding: 15px;
    background-color: #1f1d1d;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

.form-btn{
    height: 3rem;
    width: 10rem;
    color: white;
    outline: none;
    position: absolute;
    right:  1.5rem;
    margin: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.05rem;
    background-color: #624cab;
    cursor: pointer;
}

.ending{
    margin-top: 3rem;
    background-color: #121516;
    height: 4rem;
    padding: 1.5rem;
    font-family: "Mako", sans-serif;
}

.end-icon{
    position: absolute;
    left: 65rem;
    bottom: -5rem;
}

.social-icon{
    position: relative;
    top: 7.8rem;
}

.end-icon a , .social-icon a{
    margin: 0.5rem;
    font-size: large;
}

/* responsive */

@media(max-width: 1080px){
    body{
        overflow-x: hidden;
    }
    .intro-img{
        display: none;
    }
    .try2{
        display: none;
    }
    .about-main{
        left: 5rem;
    }
    .sec-position{
        left: -2rem;
    }
    .section-block{
        margin: 12px auto;
    }
    .project{
        height: 50rem;
    }
    .side-menu{
        display: flex;
    }
    .nav{
        display: none;
    }
    .section-bar{
        display: none;
    }
    .section-block{
       top: 5rem
    }
    .icon-box{
        display: none;
    }
    .p-block{
        display: block;
        width: 230%;
    }
}

@media(max-width: 870px){
    .nav #intro{
        display: none;
    }
    .optional-p{
        display: none;
    }
    .contact-details{
        display: block;
    }
}

@media(max-width: 620px){
    .about{
        height: 40rem;
    }
    .content{
        display: none;
    }
    .education{
        height: 30rem;
    }
    .skills{
        height: 28rem;
       }
    .try{
        display: none;
    }
}

@media(max-width: 420px){
   .skills{
    height: 35rem;
   }
   .op-info{
    display: none;
   }
}

.try{
    background-color: transparent;
    height: 60rem;
    width: 60rem;
    position: absolute;
    left: -15rem;
    top: -10rem;
    border: 2px solid #cea2fd;
    transform: rotate(45deg);
    box-shadow: 5px 5px 10px #ccccff, -5px -5px 10px #ccccff;
    z-index: -15;
}

.try2{
    height: 33rem;
    width: 14rem;
    background-color: #cea2fd;
    border: 2px solid #cea2fd;
    position: absolute;
    left: -2rem;
    top: 40rem;
}