*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg,rgb(56, 57, 68),black 70%);
    overflow: auto;
}

.name{
    color:yellow;
background: -webkit-linear-gradient(aqua,lightgreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* header part */
header{
    display :flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(24, 30, 54);
      z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 65%;
    list-style: none;
}

.nav li a{
    transition: 0.7s;
    text-decoration: none;
}

.nav li a:hover{
    color: aqua;
} 

.nav li:after {
    content: "";
    position: relative;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.5s ease-in-out;
    bottom: -20%;
  }
  .nav li:hover::after {
    width: 100%;
    height: 1.1px;
    background-color: aqua;
  }

  .side-menu{
    display: flex;
    flex-wrap: wrap;
    width:  40px;
    display: none;
  }

  .side-menu span{
    color: white;
    line-height: 6px;
  }

  .top-cross{
    transform: rotate(45deg) translateX(4px);
  }

  .bottom-cross{
    transform: rotate(-45deg) translateX(4px);
  }

  .head-dropbox{
    height: 20rem;
    width: 15rem;
    position: absolute;
    top: 80px;
    background-color: rgba(179, 184, 230, 0.34);
    right: 40px;
    border-radius: 10px;
    display: none;
  }

  .dropbox-nav li{
    list-style: none;
    margin: 5px;
    padding: 14px;
  }

  .dropbox-nav li:hover{
    background-color: #5376c6;
    border-radius: 5px;
  }

  .dropbox-nav li:hover a{
    color: #000;
    font-weight: 600;
  }

  .dropbox-nav li a{
    text-decoration: none;
    transition: 0.3s;
  }


/* first page */
.intro{
    height: 33rem;
    width: 90%;
   background-color: linear-gradient(0deg,blue,black); 
    margin: 2rem auto;
    background-size: cover;
    padding: 2rem;
}

.intro-head{
    display: flex;
    justify-content: space-between;
}
    
.intro-line{
    position: relative;
    padding: 1.25rem;
    font-size: 2.25rem;
    text-align: center;
    background: linear-gradient(blue,aqua,white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

   /*  border-top: 4px solid #415A77;
    border-bottom: 4px solid #415A77; */
}

 .intro-line::after{
    content: "";
    position: relative;
    bottom: -20px;
    height: 4px;
    width: 100%;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    display: block;
}

.intro-main{
    position:absolute;
    top: 18rem;
    left: 6rem;
    font-size: 2.25em;
    letter-spacing: 3px;
    line-height: 4rem;
}

span{
    color: burlywood;
}

.intro-img{
    position: absolute;
    right: 100px;
    top: 15rem;
    height: 15rem;
    width: 23rem;
    mix-blend-mode: hard-light
}

.intro-link{
    color: black;
    /* width: 120px; */
    /* height: 40px; */
    padding: 15px 30px;
    position: relative;
    top: 20rem;
    margin: 30px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: 700;
    transition: 1s;
  }

  .download-link .il-2{
    display:none;
    transition: all 1s;
  }

  .download-link:hover .il-2{
    display: inline;
  }

  .download-link:hover .il-1{
    display: none;
  }

  #github-link{
    background-color: cadetblue;
    color: white;
  }

  #github-link span i{
    opacity: 0;
    color: black;
    transition:all 1s;
  }

  #github-link:hover{
    background-color: white;
    color: black;
  }

  #github-link:hover span i{
    opacity: 1;
  }

  .intro-link:hover{
    background-color: cadetblue;
    color: white;
  }

/* about section */
.about{
    height: 35rem;
    width: 90%;
    background-color: linear-gradient(0deg,blue,black );
    margin: 2rem auto;
    padding: 2rem;
}

.about-main{
    width: 90%;
    padding: 2.5rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
    color: gray;
}

.about-head{
    text-align: center;
    position: relative;
    padding: 1.25rem;
    border-bottom: 4px solid white;
    font-size: 2rem;
    background: linear-gradient(blue,aqua,white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* education */
.education{
    height: 60rem;
    width: 90%;
    background: none;
    margin: 2rem auto;
    padding: 2rem;
/*     position: absolute; */
}

.head-main{
    text-align: center;
    padding: 1rem;
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background: linear-gradient(aqua,lightskyblue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.head-main::after{
    content: "";
    position: relative;
    bottom: -20px;
    height: 4px;
    width: 100%;
    background-color: white;
    opacity: 0.5;
    display: block;
}


.section-bar{
    height: 50rem;
    width: 5px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 34rem;
    border-radius: 10px;
}

.icon-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50rem;
}

.section-icon{
    height: 4rem;
    width:   4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: turquoise;
    position: relative;
    bottom: 50rem;
    left: 32rem;
    transition: 0.5s;
}

.section-icon i{
    font-size: 20px;
}

.section-icon:hover{
    background-color: lightcyan;
    box-shadow: 2px 2px 10px cyan,-2px -2px 10px cyan;
}

.section-icon:hover i{
    color: black;
}

.section-block{
    /* height: 10rem; */
    width: 25rem;
    border: 2px double white;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    margin: 20px;
    position: relative;
    bottom: 100rem;
    line-height: 2rem;
    letter-spacing: 0.15em;
    font-size: 0.8rem;
    text-align: center;
}

.section-block:hover{
    box-shadow: 4px 4px 10px lightskyblue, -4px -4px 10px lightgoldenrodyellow;
    border: none;
}

.sec-position{
    position: relative;
   right: -39rem;
}

/* project section */
.project{
    background: none;
    height: 25rem;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem ;
}

#project-head::after,#project-head::before{
    background-color: white;
}

.p-box{
    display: flex;
    justify-content: space-around;
}

.p-content{
    height: 20rem;
    width: 14rem;
    display: inline-block;
    border: 1.5px solid whitesmoke;
    border-radius: 15px;
    margin: 1.5rem;
    text-align: center;
    background-color: #2D3250;
}

.p-content img{
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.p-content a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5rem;
    transition: 1s;
}

.p-content a:hover{
    color: lightblue;
    text-decoration: 1px underline lightblue;
    letter-spacing: 2px;
}

.p-content p{
    font-size: 0.8rem;
    margin-top: 10px;
    line-height: 1.5rem;
    color: wheat
}

.skills{
    background: none;
    height: 50rem;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
}

#skills-head::after,#skills-head::before{
    background-color: white;
}

.skill-coarse{
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-left: 3rem
}

.skill-coarse li{
    margin:1.5rem;
}

.skill-icon{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
    padding: 10px;
    border-radius: 50%;
    transition: 0.8s;
    
}

.s1:hover{
    color: #f06529;
    transform: scale(1.2)translateY(-30px);
}

.s1:hover + p{
    color: cyan;
    text-decoration: solid #e34c26 underline;
    transition: 1s;
    transform: scale(1.1)
}

.s2:hover{
    color: #2965f1;
    transform: scale(1.2)translateY(-30px);
}

.s2:hover + p{
    color: cyan;
    text-decoration: solid #264de4 underline;
    transition: 2s;
    transform: scale(1.1)
}

.s3:hover{
    color: indigo;
    transform: scale(1.2)translateY(-30px);
}

.s3:hover + p{
    color: cyan;
    text-decoration: solid #563d7c underline;
    transition: 2s;
    transform: scale(1.1)
}

.s4:hover{
    color: #f0db4f;
    transform: scale(1.2)translateY(-30px);
}

.s4:hover + p{
    color: cyan;
    text-decoration: solid yellow underline;
    transition: 2s;
    transform: scale(1.1)
}

.s5:hover{
    color: #f1502f;
    transform: scale(1.2)translateY(-30px);
}

.s5:hover + p{
    color: cyan;
    text-decoration: solid orange underline;
    transition: 2s;
    transform: scale(1.1)
}
.s6:hover{
    color: #9cdaf1;
    transform: scale(1.2)translateY(-30px);
}

.s6:hover + p{
    color: cyan;
    text-decoration: solid #7dbbe6 underline;
    transition: 2s;
    transform: scale(1.1)
}
.s7:hover{
    color: #3c873a;
    transform: scale(1.2)translateY(-30px);
}

.s7:hover + p{
    color: cyan;
    text-decoration: solid #68ad63 underline;
    transition: 2s;
    transform: scale(1.1)
}

.s8:hover{
    color: whitesmoke;
    transform: scale(1.2)translateY(-30px);
}

.s8:hover + p{
    color: cyan;
    text-decoration: solid white underline;
    transition: 2s;
    transform: scale(1.1)
}

.s9:hover{
    color: #36dff8;
    transform: scale(1.2)translateY(-30px);
}

.s9:hover + p{
    color: cyan;
    text-decoration: solid #61dbfb underline;
    transition: 2s;
    transform: scale(1.1)
}

.contact{
    text-align: center;
    position: relative;
    bottom: 6rem;
    line-height: 2rem;
}

.contact input{
    height: 2rem;
    width: 20rem;
    margin: 0.8rem;
    padding-left: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    color: black;
}

.contact input:active{
    box-shadow: 5px 5px 10px lightblue;
}

.contact input:focus{
    background-color: rosybrown;
    color: black;
    font-size: 1rem;
}

.contact button{
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
    border: 2px solid grey;
}

.contact button i{
    font-size: 1rem;
    color: black;
}

.contact input:focus + button{
    background: linear-gradient(135deg,rgb(46, 145, 207) ,rgb(46, 42, 179));
    /* border: 2px solid black; */
}

.contact button:active{
    background-color: coral;
}


/* responsive */
@media(max-width: 1080px){
    .intro-img{
        display: none;
    }

    .sec-position{
        left: 1px;
    }

    .section-block{
        margin: 12px auto;
    }
    .project{
        height: 50rem;
    }
    .side-menu{
        display: flex;
    }
    .nav{
        display: none;
    }
    .section-bar{
        display: none;
    }
    .section-block{
       top: 5rem
    }
    .icon-box{
        display: none;
    }
}

@media(min-width: 1450px){
    .intro-img{
        display: none;
    }
}

@media(max-width: 870px){
    .nav #intro{
        display: none;
    }
}

@media(max-width: 420px){
    .intro-link{
        top: 24rem;
    }

    .optional-p{
        display: none;
    }
}

@media(max-width: 620px){
    .about{
        height: 48rem;
    }
    .content{
        display: none;
    }
    .education{
        height: 30rem;
    }
}